extends ../layouts/default

mixin bs_input(model, property, type, label)
  - var propertyHasErrors = model.errors !== undefined && model.errors[property]
  - var optionalFormGroupClasses = propertyHasErrors ? 'has-error' : ''
  .form-group(class="#{optionalFormGroupClasses}")
    label(for="#{property}") #{label}
    input.form-control(type="#{type}",id="#{property}",placeholder="#{label}",name="#{property}",value="#{model[property] || ''}")
    if propertyHasErrors
      .help-block #{model.errors[property].message}

append body
  .container
    h1 Add New User
    .form.new-user
      form(action="/users", method="POST")
        +bs_input(user, 'first_name', 'text', "First Name")
        +bs_input(user, 'last_name', 'text', "Last Name")
        +bs_input(user, 'email', 'text', "Email")
        +submit("Create User")